.Taskaction {
    text-decoration: none;
    color: black;
    cursor: pointer;
}

.Taskaction:hover {
    color: orange;
    transition: 0.5s;
}

.Minwidth {
    min-width: 100px;
}

.WordBreakAll {
    word-break: break-all;
}

.BorderBottom {
    border-bottom: 1px solid black;
}