@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow&family=Roboto+Condensed:wght@300&display=swap');

.App {
    text-align: center;
    font-family: 'Roboto Condensed', sans-serif;
}

h1 {
    font-size: 32px;
}